@media (min-width: 992px) and (max-width: 1199px) {
  .toggle {
    width: 100%;
    padding-top: 0px;
    height: 54px;
    line-height: 54px;
    overflow: hidden;
  }
  .top_nav .navbar-right {
    width: 100%;
  }
  .top_nav .navbar-right li {
    float: none;
  }
  .top_nav .navbar-right li:first-child {
    margin-left: 0px;
  }
  .form-control {
    margin-top: 5px;
  }
  .inputSearch {
    margin-top: 0px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .toggle {
    width: 100%;
    padding-top: 0px;
    height: 54px;
    line-height: 54px;
    overflow: hidden;
  }
  .top_nav .navbar-right {
    width: 100%;
  }
  .top_nav .navbar-right li {
    margin-right: 0px;
    float: none;
  }
  .top_nav .navbar-right li:first-child {
    margin-left: 0px;
  }
  /*admin*/
  #Companylist,
  #Packagelist {
    min-height: 250px;
  }
  #PackCompanyList {
    min-height: 250px;
  }
  #PackageDeatil {
    min-height: 100%;
  }
}
@media (max-width: 767px) {
  #w_screen {
    width: 100px;
  }
  .top_nav {
    position: fixed;
    z-index: 998;
    top: 0px;
    left: 0px;
  }
  .right_col,
  .right_col_fix {
    margin-top: 50px !important;
  }
  .fancybox-body .right_col,
  .fancybox-body .right_col_fix {
    margin-top: 0px !important;
  }
  #hamburger {
    display: block;
  }
  .x_panel {
    padding: 10px 5px;
  }
  .nav_menu ul {
    display: none;
  }
  .toggle {
    font-size: 14px;
    float: none;
    padding-top: 0px;
    width: 100%;
    line-height: 40px;
    margin-left: 50px;
    text-align: left;
  }
  .login_wrapper {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    right: inherit;
  }
  .login_wrapper .logo {
    width: 200px;
  }
  .login_wrapper .login_form {
    position: relative;
  }
  .login_content {
    min-width: 100%;
  }
  ul.widget_profile_box li.web-name {
    display: none;
  }
  .page-title .title_left {
    width: 100%;
    float: none;
    padding-left: 10px;
  }
  .page-title .title_right {
    width: 100%;
    float: none;
    padding-right: 10px;
    padding-left: 10px;
  }
  .navbar-right {
    text-align: right;
    float: right!important;
  }
  .jspVerticalBar {
    width: 5px;
  }
  .jspHorizontalBar {
    height: 5px;
  }
  .clearfixMobile:after,
  form:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  /*admin*/
  #Companylist,
  #Packagelist {
    min-height: 250px;
  }
  #PackCompanyList {
    min-height: 250px;
  }
  #PackageDeatil {
    min-height: 100%;
  }
  .dataTableList .col-sm-12 {
    width: 100%;
  }
  .navbar-profile {
    margin: 0px;
  }
  .navbar-profile > li > a {
    line-height: 30px;
    padding: 5px;
  }
  .title-admin {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  #MyWorld {
    width: 100%;
    height: 260px;
    padding: 0px;
  }
  #MyWorld .WorldBox {
    width: 260px;
    height: 260px;
  }
  .dataTables_filter {
    width: 100%;
  }
  .stage {
    width: 280px;
    height: 280px;
  }
}
@media (max-width: 991px) {
  .nav-md .container.body .right_col_fix {
    width: 100%;
    margin: 0;
    padding: 0px !important;
  }
  .right_col,
  .right_col_fix {
    padding: 0px !important;
  }
}
